@import "./globals.scss";

.portfolio-about {
    height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: $background-color_2;
    .profile-picture {
        width: 50%;
        display: flex;
        justify-content: center;
        img {
            width: 250px;
            height: auto;
            border-radius: 20%;
        }
    }
    .profile-presentation {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        p {
            padding: 0 100px 0 20px;
            margin-left: -20px;
            font-size: 1.3rem;
            line-height: 1.5;
            color: white;
            border-left: 1px solid $primary-color;
            .name,
            .school,
            .company {
                color: $primary-color;
                font-weight: bold;
                border-bottom: 1px solid $primary-color;
            }
        }
        .cv {
            margin-top: 20px;
        }
    }
}
